@mixin dimension($width, $height) {
    width: $width;
    height: $height;
}

@mixin display($display, $flex-direction) {
    display: $display;
    flex-direction: $flex-direction;
}

@mixin alignment($align-items, $justify-content) {
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin border($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}

@mixin color($color, $background-color) {
    color: $color;
    background-color: $background-color;
}

@mixin font($font-size, $font-family, $font-weight) {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin margin($margin-top, $margin-bottom, $line-height) {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    line-height: $line-height;
}

.login-page{
        @include dimension(100%,100%);
        @include display(flex,null);
        @include alignment(center,center);
            .login-page-container{
                @include dimension(33%,85%);
                @include display(flex,column);
                @include alignment(center,center);
                @include border(1px solid lightgray,5px);
            .Header-content{
                @include dimension(80%,null);
                @include alignment(center,center);
                @include display(flex,row);
                @include font(null,null,null);
                    .color1{@include color(#1a73e8,null);}
                    .color2{@include color(red,null);}
                    .color3{@include color(yellow,null);}
                    .color4{@include color(#1a73e8,null);}
                    .color5{@include color(green,null);}
                    .color6{@include color(red,null);}
        }

        .title-content{
            @include dimension(80%,null);
                .title1{
                    @include margin(-5px,null,null);
                    @include color(#000,null);
                    @include font(null,null,unset);
                }
                .title2{
                    @include margin(-10px,40px,null);
                }
        }

        .fieldrow{
            @include margin(-10px,10px,null);
            @include dimension(80%,null);
                .fieldcloumn{
                    @include margin(null,10px,null);
                }
                .button-cont{
                    @include color(#1a73e8,null);
                    @include font(null,null,500);
                    @include margin(-2px,null,null);
                    @include display(flex,null);
                }
        }

        .paragraph{
            @include dimension(80%,null);
            @include display(flex,column);
                .para{
                    @include color(#5f6368,null);
                    @include font(14px,null,null);
                    @include margin(null,0px,1.4286);
                    @include display(flex,null);
                }
                .button-cont{
                    @include color(#1a73e8,null);
                    @include font(null,null,500);
                    @include margin(-2px,null,null);
                    @include display(flex,null);
                }
        }

        .footer-content{
            @include dimension(80%,null);
            @include display(flex,null);
            @include alignment(center,space-between);
            @include color(#1a73e8,null);
            @include font(null,null,null);

                .Create-accoun{
                    @include color(#1a73e8,transparent);
                    @include border(0,null);
                }
                .next{
                    @include color(#fff,#1a73e8);
                    @include font(null,null,500);
                }
        }

    }
}


// @media screen and (max-width:320px) {
//     .login-page{
//       font-size: 10px;
//     }
//     .Header-content{
//         font-size: 10px;
//     }
//     .login-page-container{
//         font-size: 10px;
//     }

// }

// @media screen and (max-width:1024px) {
//     .login-page{
//         // margin: 0%;
//         // width: 100%;
//         font-size: 15px;
//     }
//     .login-page-container{
//         // width: 50%;
//         font-size: 15px;
//     }

// }