.display-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .display-container{
        box-shadow: -1px -1px 5px rgb(153, 150, 150),1px 1px 10px rgb(153, 150, 150);
        color: rgba(0, 0, 0, 0.54);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
        width: 20%;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 20px;

        .content-display{
            display: flex;
        }
            .iconsStyle{
                display: flex;
                justify-content: space-around;
                width: 100%;
            .icon-lists{
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
            .button-content{
                display: flex;
            }
        }
    }
}

@media screen and (max-width : 600px) {
    .display-body{
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .display-container{
            width: 200px;
            .content-display{

                .iconsStyle{
            
                    .icon-lists{

                        .button-content{

                        }
                    }
                }
            }
            
        }
       
    }  
}



@media screen and (max-width : 900px) {
    .display-body{
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .display-container{
            width: 200px;
            .content-display{

                .iconsStyle{
            
                    .icon-lists{

                        .button-content{

                        }
                    }
                }
            }
            
        }
       
    }  
}