.header {
    background-color:#fff;
    color: rgba(0, 0, 0, 0.54);
}

.header-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.header-Content-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.header-Content-2{
   
}

.header-Content-3{
    
}
