.signup{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container{
    width:60%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid lightgray;
    border-radius: 5px;
}

.text-field-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.Header-container{
    width: 80%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    margin-bottom: -20px;
}

.color1{
    color: #1a73e8;
}
.color2{
    color: red;
}
.color3{
    color: yellow;
}
.color4{
    color:  #1a73e8;
}
.color5{
    color: green;
}
.color6{
    color: red;
}

.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-1{
    width: 80%;
    color: #000;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-weight: unset;
    display: flex;
    justify-content: left;
    margin-bottom: 0px;
}

.title-2{
    width: 80%;
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
}

.field-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.field-cloumn{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field-cloumn-1{
    width: 100%;
    margin-bottom: 10px;
}

.password{
   display: flex;
   align-items: inherit;
   justify-content: left;
   width: 80%;
   margin-top: -20px;
}

.footer-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #1a73e8;
    font-family:  roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    letter-spacing: .0107142857em;
    margin-top: 30px;
}

.Create-button{
    color: #1a73e8;
    background-color: transparent;
    border: 0;
    display: contents;
}

.next-button{ 
    color: #fff;
    background-color: #1a73e8;
    font-weight: 500;
}

.image-container{
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:320px) {
    .signup{
      font-size: 10px;
    
    }
    .signup-container{
        font-size: 10px;
    }
    .title{
        font-size: 10px;
    }
    .image-container{
        font-size: 10px;
    }
}

@media screen and (max-width:1024px) {
    .signup{
        // margin: 0%;
        // width: 100%;
        font-size: 15px;
    }
    .signup-container{
        width: 50%;
        font-size: 15px;
    }
    .title{
        font-size: 15px;
    }
    .image-container{
        font-size: 10px;
    }
}