@mixin dimension($width, $height) {
    width: $width;
    height: $height;
}

@mixin display($display, $flex-direction) {
    display: $display;
    flex-direction: $flex-direction;
}

@mixin alignment($align-items, $justify-content) {
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin border($border, $border-radius) {
    border: $border;
    border-radius: $border-radius;
}

@mixin color($color, $background-color) {
    color: $color;
    background-color: $background-color;
}

@mixin font($font-size, $font-family, $font-weight) {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin margin($margin-top, $margin-bottom, $line-height,$padding) {
    padding: $padding;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    line-height: $line-height;
}

.signup{
    @include dimension(100%, 100%);
    @include display(flex, null);
    @include alignment(center, center);
    .signup-container{
        @include dimension(60%, 90%);
        @include display(flex, null);
        @include alignment(center, center);
        @include border(1px solid lightgray, 5px);

        .text-field-container{
            @include dimension(60%, null);
            @include display(flex, column);
            @include alignment(center, center);
            @include margin(null, null, null, 40px);
            .Header-container{
                @include dimension(100%, null);
                @include display(flex, row);
                @include alignment(null, left);
                @include font(null, null, null);
                    .color1{@include color(#1a73e8,null);}
                    .color2{@include color(red,null);}
                    .color3{@include color(yellow,null);}
                    .color4{@include color(#1a73e8,null);}
                    .color5{@include color(green,null);}
                    .color6{@include color(red,null);}
            }

            .title{
                @include dimension(100%, null);
                @include display(flex, column);
                @include alignment(center, null);
                @include margin(-20px, null, null, null);
                    .title-1{
                        @include dimension(100%, null);
                        @include color(#000, null);
                        @include font(null, null, unset);
                        @include display(flex, null);
                        @include alignment(null, left);
                    }
                    .title-2{
                        @include dimension(100%, null);
                        @include display(flex, null);
                        @include alignment(null, left);
                        @include margin(-10px, null, null, null);
                    }
                }

            .field-row{
                @include dimension(100%, null);
                @include display(flex, column);
                @include alignment(center, null);
                @include margin(10px, null, null, null);
                    .field-cloumn{
                        @include dimension(100%, null);
                        @include display(flex, null);
                        @include margin(10px, null , null, null);
                    }
                    .field-cloumn-1{
                        @include dimension(100%, null);
                    }
                    .paragraph{
                        @include dimension(100%, null);
                        @include margin(0px, null, null, null);
                        @include display(flex, null);
                        @include font(12px , null, null);
                        @include color(#5f6368, null);
                    }
            }

            .password{
                @include display(flex, null);
                @include alignment(inherit, left);
                @include dimension(100%, null);
            }

            .footer-container{
                @include dimension(100%, null);
                @include display(flex, row);
                @include alignment(center, space-between);
                @include color(#1a73e8, null);
                @include font(null , "roboto,'Noto Sans Myanmar UI',arial,sans-serif", null);
                @include margin(30px , null, null, null);

                    .Create-button{
                        @include color(#1a73e8, transparent);
                        @include border(0, null);
                        @include display(contents, null);
                    }
                    .next-button{
                        @include color(#fff, #1a73e8);
                        @include font(null, null, 500);
                    }
            }

        }
        .image-container{
            @include dimension(40%, null);
            @include alignment(center, center);
            @include display(flex, column);
            @include color(#5f6368, null);
        }
    }
}

// @media screen and (max-width:600px) {
//     .signup{
//       font-size: 10px;
    
//     }
//     .signup-container{
//         font-size: 10px;
//     }
//     .title{
//         font-size: 10px;
//     }
//     .image-container{
//         font-size: 10px;
//     }
// }

// @media screen and (max-width:1024px) {
//     .signup{
//         // margin: 0%;
//         // width: 100%;
//         font-size: 15px;
//     }
//     .signup-container{
//         width: 50%;
//         font-size: 15px;
//     }
//     .title{
//         font-size: 15px;
//     }
//     .image-container{
//         font-size: 10px;
//     }
// }

